* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/**comman-class**/
h1 {
  font-size: 48px;
}

h2 {
  font-size: 45px;
}

.why-rao {
  font-size: 44px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 32px;
}

.memory {
  font-size: 30px;
}

h5 {
  font-size: 22px;
}

.booking {
  font-size: 18px;
  max-width: 688px;
}

h6 {
  font-size: 16px;
}

.container.about {
  max-width: 1060px;
}

.container-fluid {
  width: calc(100% - 90px - 90px);
}
/**comman-class**/

/**header**/
.header {
  background: url(../img/banner.jpg);
  min-height: 100vh;
  width: 100%;
  background-size: cover;
}

.navbar {
  max-width: 1044px;
  color: rgba(40, 41, 43);
}

.fa-phone {
  color: #fdc213;
  font-size: 30px;
}

.nav-link {
  color: #fdc213;
  font-size: 20px;
}

.number {
  color: #000;
  font-size: 20px;
  background-color: #fdc213;
}

.banner .container {
  margin-top: 80px;
  padding-right: 445px;
  padding-bottom: 100px;
}

.taxi-book {
  background-color: #fdc213;
  max-width: 400px;
  height: 400px;
  border-radius: 20px;
  padding: 30px 40px;
}

.form-select {
  background-color: #000;
  color: #fff;
  height: 55px;
}

.location {
  width: 100%;
  height: 55px;
  color: #fff;
  font-size: 18px;
}

.location::placeholder {
  color: #000;
  font-size: 18px;
}

.car-select {
  width: 20px;
  height: 20px;
}

.car-label {
  font-size: 21px;
}

.taxi-book .btn-dark {
  padding: 5px 70px;
}

/**header end**/

/**about-raotaxitrip**/

.about-raotaxitrip {
  padding: 40px 0;
}

.about-rao {
  /* padding: 70px 150px 130px 99px; */
  padding-top: 70px;
  background-color: rgb(40 41 43);
  color: #fff;
  height: 100%;
}

.taxi-img {
  width: 100%;
}

.about-rao > div {
  max-width: 354px;
  margin: auto;
}

.service {
  line-height: 1.8em;
  text-align: justify;
}

.btn-warning {
  padding: 8px 61px;
  font-size: 21px;
}
/**about-raotaxitrip end**/

/**why-raotaxi**/
.experience {
  background-color: rgb(232 230 230);
  padding: 90px 0;
  height: 100%;
}

.why-rao {
  margin-bottom: 40px;
}

.experience-img {
  max-width: 557px;
  min-height: 474px;
  border-radius: 20px;
  object-fit: cover;
}

.taxitrip > div {
  max-width: 413px;
}

.facilities {
  color: rgba(40, 41, 43);
}

.available {
  margin-bottom: 30px;
}

.why-raotaxi .btn-warning {
  margin-top: 60px;
  padding: 8px 40px;
  color: #28292b;
}
/**why-raotaxi end**/

/**price-taxi**/
.price-taxi {
  background-color: rgb(40 41 43);
}

.price-taxi .container-fluid {
  padding: 44px 0;
}

.price-taxi .card {
  background-color: rgb(232 230 230);
  padding: 70px 0 20px;
  margin: 16px 0;
}

.price-taxi .card .card-title {
  font-size: 25px;
}

.price-taxi .form-select {
  height: 40px;
  color: #fff;
  max-width: 300px;
}

.car-name {
  font-size: 22px;
  color: rgba(40, 41, 43);
  background-color: #fff;
  padding: 3px 30px;
  border-radius: 8px 0px 0px 8px;
}

.car-price {
  font-size: 22px;
  color: rgb(40 41 43);
  background-color: #fdc213;
  padding: 3px 30px;
  border-radius: 0px 8px 8px 0px;
}

.price-taxi .btn-dark {
  color: #fdc213;
  font-size: 14px;
  margin-top: 50px;
}

.car {
  margin-bottom: 34px;
}
/**price-taxi end**/

/**online-booking**/
.online-booking {
  background-color: #fdc213;
  padding: 150px 0 58px;
}

.booking-details {
  background-color: rgba(40, 41, 43);
}

.check {
  color: #fdc213;
}

.check span {
  font-size: 18px;
}

.step-details {
  padding: 50px 0 140px;
  height: 100%;
}

.details {
  font-size: 15px;
  max-width: 450px;
}

.gps {
  padding-bottom: 70px;
  position: relative;
}

.gps img {
  border-radius: 20px;
}

.drive-enjoy {
  position: absolute;
  top: 205px;
  left: 137px;
}
/**online-booking end**/

/**memorable journey**/
.memorable-journey{
  background: url(../img/memorable-journey.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: -1;
  height: 612px;
}

.overlay{
  background-color: rgb(40, 41, 43, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.35;
  z-index: 2;
}

.memorable-logo {
  max-width: 305px;
  height: 391px;
}
/**memorable journey end**/

/**Trips from**/
.trip-from{
  background-color: #28292b;
  padding: 140px 0 70px;
  position: relative;
}

/* .mouse-wheel{
  position: absolute;
  top: -35px;
  left: 0;
}

.car{
  transition: .5s;
} */

.trip-from .booking{
  color: #fdc213;
}

.trip-from ul li::marker{
  color: #fff;
  padding-left: 15px;
}

.trip-from ul li a{
  font-size: 13px;
}
/**Trips from end**/

/**Testimonials**/
.testimonails{
  padding: 35px 0;
}

.testimonails .card{
  padding: 58px 0 47px;
  border: 1px solid #fdc213;
}

.testimonails .card .card-text{
  max-width: 231px;
}

.testimonails .card .card-title{
  font-size: 16px;
  color: #fdc213;
  padding-top: 66px;
}

.first{
  background-color: #fdc213;
}
/**Testimonials end**/

/**join-team**/
.join-team{
  padding: 75px 0 140px;
  background-color: #fdc213;
}

.application{
  font-size: 25px;
}

.apply-form{
  max-width: 900px;
}

.inform{
  background-color: transparent;
  border: 2px solid black;
  max-width: 400px;
  width: 100%;
  height: 50px;
  padding-left: 20px;
}

.inform::placeholder{
  color: #000;
}

.message{
  background-color: transparent;
  border: 2px solid black;
  max-width: 850px;
  width: 100%;
  height: 150px;
  padding-left: 20px;
  padding-bottom: 80px;
}

.message::placeholder{
  color: #000;
}

.join-team .btn-dark{
  max-width: 850px;
}
/**join-team**/

/**footer**/
.footer{
  background-color: rgb(40 41 43);
}

.footer .container{
  max-width: 1100px;
}

.footer .memorable-logo{
  width: 164px;
  height: 210px;
}

.reviews{
  font-size: 21px;
}
/**footer end**/